
@{
    ViewBag.Title = "Info";
}

<h2>Info Page</h2>

<h4>ER-diagram</h4>
<a href="../Images/ERdiagram.png"><img class="diagram" src="../Images/ERdiagram.png" width="500" /></a>
<h4>Class diagram</h4>
<a href="../Images/Classdiagram.png"><img class="diagram" src="../Images/Classdiagram.png" /></a>

